@{
    ViewData["Title"] = "Home Page";
}
<style>
    .input-group .form-control {
        border-radius: 25px 0 0 25px !important;
        height: 50px;
    }

    .input-group .btn {
        border-radius: 0 25px 25px 0 !important;
        height: 50px;
        padding: 0 20px;
    }

    h1 {
        text-align: left;
        color: white;
        margin-top: 75px;
    }

    .left-column {
        position: sticky;
        top: 80px;
        height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
    }

    .box-30 {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .box-70 {
        flex: 7;
        background-color: #f8f9fa;
        border-radius: 10px;
        padding: 15px;
        margin: 10px 0 50px 0;
    }

    .right-column {
        height: fit-content;
        padding: 20px;
        margin-bottom: 50px;
    }

</style>

<div class="container-sm">
    <div class="row">

        <div class="col-md-6 left-column">

            <div class="box-30">

                <h1>All you need! Put in here.</h1>

                <div class="input-group mt-3" style="max-width:500px; width:100%; margin:auto;">

                    <input type="search" class="form-control ps-4" placeholder="Enter to search..." />

                    <button type="button" class="btn btn-success">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>

                </div>

            </div>

            <div class="box-70 mt-4">

                description

            </div>

        </div>

        <div class="col-md-6 right-column">
            <div class="p-4 border rounded bg-light">
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>Khung 2: nội dung dài, kéo scroll</p>
                <p>...</p>
            </div>
        </div>
    </div>
</div>
